# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import pandas as pd
import sqlite3

In [3]:
conn= sqlite3.connect('data.sqlite')
c= conn.cursor()

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)

## Display the names of all the employees in Boston.
Hint: join the employees and customers tables.

In [7]:
#Your code here
c.execute('''select lastName, firstName
            from employees e
            join customers c
            on e.employeeNumber = c.SalesRepEmployeeNumber
            ;''')
df= pd.DataFrame(c.fetchall())
df.columns= [i[0] for i in c.description]
df

     lastName firstName
0    Jennings    Leslie
1    Jennings    Leslie
2    Jennings    Leslie
3    Jennings    Leslie
4    Jennings    Leslie
5    Jennings    Leslie
6    Thompson    Leslie
7    Thompson    Leslie
8    Thompson    Leslie
9    Thompson    Leslie
10   Thompson    Leslie
11   Thompson    Leslie
12   Firrelli     Julie
13   Firrelli     Julie
14   Firrelli     Julie
15   Firrelli     Julie
16   Firrelli     Julie
17   Firrelli     Julie
18  Patterson     Steve
19  Patterson     Steve
20  Patterson     Steve
21  Patterson     Steve
22  Patterson     Steve
23  Patterson     Steve
24      Tseng  Foon Yue
25      Tseng  Foon Yue
26      Tseng  Foon Yue
27      Tseng  Foon Yue
28      Tseng  Foon Yue
29      Tseng  Foon Yue
..        ...       ...
70      Jones     Barry
71      Jones     Barry
72      Jones     Barry
73      Jones     Barry
74      Jones     Barry
75      Jones     Barry
76      Jones     Barry
77      Jones     Barry
78      Jones     Barry
79     Fixter      Andy
80     Fixter      Andy
81     Fixter      Andy
82     Fixter      Andy
83     Fixter      Andy
84      Marsh     Peter
85      Marsh     Peter
86      Marsh     Peter
87      Marsh     Peter
88      Marsh     Peter
89      Nishi      Mami
90      Nishi      Mami
91      Nishi      Mami
92      Nishi      Mami
93      Nishi      Mami
94     Gerard    Martin
95     Gerard    Martin
96     Gerard    Martin
97     Gerard    Martin
98     Gerard    Martin
99     Gerard    Martin

[100 rows x 2 columns]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [ ]:
#Your code here

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!