# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import pandas as pd
import sqlite3

In [3]:
conn= sqlite3.connect('data.sqlite')
c= conn.cursor()

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)

## Display the names of all the employees in Boston.
Hint: join the employees and customers tables.

In [9]:
#Your code here
c.execute('''select lastName, firstName, city
            from employees e
            join customers c
            on e.employeeNumber = c.SalesRepEmployeeNumber
            where city = 'Boston'
            ;''')
df= pd.DataFrame(c.fetchall())
df.columns= [i[0] for i in c.description]
df

    lastName firstName    city
0  Patterson     Steve  Boston
1   Firrelli     Julie  Boston

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [21]:
#Your code here
c.execute('''select * from employees
            join offices
            using (officeCode)
            ;''')
df= pd.DataFrame(c.fetchall())
df.columns= [i[0] for i in c.description]
len(df)

23

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here
c.execute('''select from;''')
df= pd.DataFrame(c.fetchall())
df.columns= [i[0] for i in c.description]
df

In [ ]:
# Your code here
c.execute('''select from;''')
df= pd.DataFrame(c.fetchall())
df.columns= [i[0] for i in c.description]
df

In [ ]:
# Your code here
c.execute('''select from;''')
df= pd.DataFrame(c.fetchall())
df.columns= [i[0] for i in c.description]
df

## Level Up: Display the names of each product each employee has sold

In [25]:
# Your code here
c.execute('''select productsName from products;''')
df= pd.DataFrame(c.fetchall())
df.columns= [i[0] for i in c.description]
df.head()

         status
0       Shipped
1       Shipped
2       Shipped
3       Shipped
4       Shipped
5       Shipped
6       Shipped
7       Shipped
8       Shipped
9       Shipped
10      Shipped
11      Shipped
12      Shipped
13      Shipped
14      Shipped
15      Shipped
16      Shipped
17      Shipped
18      Shipped
19      Shipped
20      Shipped
21      Shipped
22      Shipped
23      Shipped
24      Shipped
25      Shipped
26      Shipped
27      Shipped
28      Shipped
29      Shipped
..          ...
296     Shipped
297     Shipped
298     Shipped
299     Shipped
300     Shipped
301     On Hold
302     Shipped
303     Shipped
304     Shipped
305     Shipped
306    Disputed
307     On Hold
308     Shipped
309     Shipped
310     Shipped
311     Shipped
312     Shipped
313     Shipped
314     On Hold
315    Disputed
316     Shipped
317    Disputed
318     Shipped
319     Shipped
320  In Process
321  In Process
322  In Process
323  In Process
324  In Process
325  In Process

[326 rows x 1 columns]

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here
c.execute('''select from;''')
df= pd.DataFrame(c.fetchall())
df.columns= [i[0] for i in c.description]
df

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!